doctype html
html(lang="en")
  block vars
  head
    title Test
    script(src="runtime.js" type="text/javascript")
    script(src='over18.js' type="text/javascript")
    script(src='ageCheck.js' type="text/javascript")
    script(src='bundle.js')
  body
    .page
        block body
